:root {
    --primary-color: #92cccd;
    --secondary-color: #31343d;
    --tertiary-color: #445876;
    --fourth-color: #ededf6;
    --teal: #39a6b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: var(--fourth-color)
}


/* GENERAL STYLES */
section {
    padding: 20px 30px 20px 20px;
}

a {
    text-decoration: none;
}

.section-title {
    font-size: 40px;
    text-align: end;
    padding: 0 15px 0px 0;
    color: var(--tertiary-color);
    font-weight: bold;
}

.sidebar-content {
    display: flex;
    flex-wrap: wrap;
}
.sidebar {
    flex: 1 20%;
    border-right: 3px solid var(--tertiary-color);
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 2 80%;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
/* GENERAL STYLES END */


/* HEADER STYLE START */
header {
    background: var(--secondary-color);
    padding: 10px 10px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    font-weight: normal;
    font-size: 40px;
    color: var(--secondary-color);
    background: var(--primary-color);
    padding: 10px 15px 10px 50px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 60px;
}

header nav ul li a {
    font-weight: lighter;
    font-size: 18px;
    margin: 0 7px;
    padding: 0 7px 3px 7px;
    border-bottom: 3px solid var(--primary-color);
    color: var(--primary-color);
}

/* Pseudo for header */
header nav ul li a:hover {
    font-weight: bold;
}
/* HEADER STYLE END */


/* HERO STYLE */
.hero {
    background-image: url(../images/placeholder_header_bg.jpg); 
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    color: var(--primary-color);
    padding-top: 100px;
}

.hero-content {
    background: var(--primary-color);
    text-align: center;
    padding: 7px;
    margin-right: 5%;
}

.hero-content h2 {
    color: var(--secondary-color);
    font-size: 28px;
}
/* HERO STYLE END */


/* ABOUT ME STYLE */
.about-me-img {
    align-items: center;
    padding-right: 20px;
    width: 200px;
    margin: auto 0;
}

.about-me-img img {
    width: 100%;
}

.about-me-info {
    color: var(--tertiary-color);
    font-weight: lighter;    
    font-size: 20px;
    line-height: 1.4;
    flex: 1;
    margin: auto 0;
}
/* ABOUT ME STYLE ENDS */

/* PROJECTS STYLE START */
.main, .row {
    padding: 5px;
    position: relative;
    filter: saturate(50%);
    transition: .3s ease;
}

.row {
    flex: 50%;
}

.main img, .row img {
    width: 100%;
    border: 5px solid var(--primary-color);
}

.work-text {
    position: absolute;
    bottom: 40px;
    padding: 10px;
    background: var(--primary-color);
    color: var(--secondary-color);
    line-height: 1.5;
}

.work-text h4 {
    font-size: 20px;
    font-weight: normal;
}

.work-text p {
    font-size: 24px;
}

/* Pseudo Classes for Work section */
.main:hover, 
.row:hover {
    filter:saturate(100%);
}
/* PROJECTS STYLE END */


/* CONTACT STYLE START */

.contact {
   
}

.contact-info ul {
    
}

.contact-info ul, a {

}

.contact-info ul li {
   
}

/* Pseudo for Contact */
}
/* CONTACT STYLE END */


/* FOOTER STYLE START */
footer {
  
}

.footer-flex {
   
}

.footer-content {
  
}

.footer-content img {
   
}

.footer-copyright {
  
}

/* Pseudo class for Footer */
.footer-content img:hover {
   
}
/* FOOTER STYLE END */


/* MEDIA QUERIES START */
/* Media Query for <=1200px */

/* Media Query for smaller desktop; <= 980px */

/* Media Query for Tablets and smaller <=768px */

/* Media Query for Mobile phones and smaller <= 575px */
